@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap");

.shop_container {
  position: relative;
  padding: 20px;
  max-width: 1600px;
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: start;
  > .left_container {
    width: 100%;
    border-right: 2px solid #ddd;
    > h1 {
      color: blue;
      font-family: "Biryani", sans-serif;
    }
  }
  > .right_container {
    position: relative;
    display: block;
    padding: 20px;
    max-width: 360px;
    min-height: 200vh;
    > div {
      position: sticky;
      top: 50px;
      left: 0;
    }
  }
}
